<header class="header">
  <div class="left">
    <a routerLink="/">
      <img
        src="/assets/img/logo-branca.png"
        class="logo"
        (click)="irParaHome()"
        style="cursor: pointer"
      />
    </a>
  </div>

  <div class="right" *ngIf="role === null">
    <button class="btn" (click)="login()">Entrar</button>
    <button class="btn" (click)="logon()">Registrar-se</button>
  </div>

  <div class="right" *ngIf="role === Roles.USER">
    <button class="btn" (click)="abrirPerfil()">Meu Perfil</button>
    <button class="btn" (click)="logout()">Sair</button>

  </div>

  <div class="right" *ngIf="role === Roles.ONG">
    <button class="btn" (click)="abrirPerfil()">Meu Perfil</button>
    <button class="btn" (click)="cadastrarAnimal()">+ Cadastrar Animal</button>
    <button class="btn" (click)="logout()">Sair</button>
  </div>
</header>
