<header class="header">
  <div class="left">
    <a routerLink="/">
      <img
        src="/assets/img/logo-branca.png"
        class="logo"
        (click)="irParaHome()"
        style="cursor: pointer"
      />
    </a>
  </div>

  <div class="right" *ngIf="role === 'NOLOG'">
    <button class="btn" (click)="login()">Entrar</button>
    <button class="btn" (click)="logon()">Registra-se</button>
  </div>

  <div class="right" *ngIf="role === 'ADOTANTE'">
    <button class="btn" (click)="abrirPerfil()">Meu Perfil</button>
  </div>

  <div class="right" *ngIf="role === 'TUTOR'">
    <button class="btn" (click)="abrirPerfil()">Meu Perfil</button>
    <button class="btn" (click)="cadastrarAnimal()">+ Cadastrar Animal</button>
  </div>
</header>
