<div class="registro-page">
    <div class="left">
        <div class="head">
            <div class="voltar">
                <button matSuffix mat-icon-button class="voltar-btn" (click)="redirect($event)">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <div class="logo">
                <img src="/assets/img/logo_preta.png" alt="Fada Org logo" class="img">
            </div>
            <div>

            </div>
        </div>
        <div class="formContainer">
            <div class="formCard">
                <div class="toggle-group">
                    <mat-button-toggle-group
                    [(ngModel)]="role"
                    aria-label="Select your role"
                    >
                    <mat-button-toggle value="user" >
                        Quero adotar!
                    </mat-button-toggle>
                    <mat-button-toggle value="tutor">
                        Sou tutor
                    </mat-button-toggle>
                </mat-button-toggle-group>
                </div>
                <form [formGroup]="usuarioForm">
                        <div class="formTitle">
                            <div class="h1">
                                <h3>Crie sua Conta</h3>
                            </div>
                            <div class="h2">
                                <h5>Preencha os campos abaixo para se cadastrar.</h5>
                            </div>
                        </div>
                     
                        <div class="formContent">
                            <div class="form-row-cols-2">
                                <div>
                                    <span>Nome*</span>
                                    <mat-form-field appearance="outline" class="text-input">
                                        <input matInput formControlName="primeiroNome" placeholder="Seu nome" class="input">        
                                    </mat-form-field>
                                </div>
                                <div>
                                    <span>Sobrenome*</span>
                                    <mat-form-field appearance="outline" class="text-input">
                                        <input matInput formControlName="sobrenome" placeholder="Seu sobrenome" class="input">        
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-row-cols-2">
                                <div>
                                    <span>CPF*</span>
                                    <mat-form-field appearance="outline" class="text-input">
                                        <input matInput formControlName="cpf" placeholder="000.000.000-00" mask="000.000.000-00" class="input">        
                                    </mat-form-field>
                                </div>
                                <div>
                                <span>Email*</span>
                                <mat-form-field appearance="outline" class="text-input">
                                    <input matInput formControlName="email" placeholder="seu@email.com" class="input">        
                                </mat-form-field>
                                </div>
                            </div>
                           
                            <div class="form-row-cols-2">
                                <div class="ddd">
                                    <span>DDD*</span>
                                    <mat-form-field appearance="outline" class="text-input">
                                        <input matInput formControlName="ddd" placeholder="00" mask="00"class="input">        
                                    </mat-form-field>
                                </div>
                                <div class="telefone">
                                    <span>Telefone*</span>
                                    <mat-form-field appearance="outline" class="text-input">
                                        <input matInput formControlName="telefone" placeholder="0000-0000" mask="00000-0000" class="input">        
                                    </mat-form-field>
                                </div>
                            </div>
                            @if(role === 'tutor'){
                                <div class="form-row-cols-2">
                                <div>
                                    <span>Senha*</span>
                                    <mat-form-field appearance="outline" class="text-input">
                                        <input matInput formControlName="senha" placeholder="Sua senha" class="password-input" [type]="pwd() ? 'password' : 'text'">        
                                        <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Hide password'"  (click)="hidePwd($event)">
                                        <mat-icon class="hide-icon">{{pwd() ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div class="ong">
                                    <span>Selecione a Ong*</span>
                                    <mat-form-field appearance="outline">
                                        <mat-select>
                                            @for(ong of ongs ; track ong.name){
                                                <mat-option [value]="ong.name">
                                                    {{ong.name}}
                                                </mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                    <span>Não encontrou sua Ong? <a href="localhost:4200/registro-ong">Cadastre-a!</a></span>
                                </div>
                            </div>
                            }@else {
                            <div class="form-row">
                                <span>Estilo de vida</span>
                                <mat-form-field appearance="outline" class="text-input">
                                    <textarea matInput formControlName="lifestyle" placeholder="Seu estilo de vida" class="input" rows="1"></textarea>
                                <mat-error
                                    *ngIf="formAtual.get('lifestyle')?.hasError('maxlength') && formAtual.get('lifestyle')?.touched">
                                    Máximo de 100 caracteres.
                                </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-row">
                                <span>Estilo de vida</span>
                                <mat-form-field appearance="outline" class="text-input">
                                    <textarea matInput formControlName="preferences" placeholder="Suas preferências" class="input" rows="1"></textarea>
                                <mat-error
                                    *ngIf="formAtual.get('preferences')?.hasError('maxlength') && formAtual.get('preference')?.touched">
                                    Máximo de 100 caracteres.
                                </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-row">
                                <span>Senha*</span>
                                <mat-form-field appearance="outline" class="text-input">
                                    <input matInput formControlName="senha" placeholder="Sua senha" class="password-input" [type]="pwd() ? 'password' : 'text'">        
                                    <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Hide password'"  (click)="hidePwd($event)">
                                    <mat-icon class="hide-icon">{{pwd() ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            }
                        </div>
                    </form>
                <div class="buttons">
                    <button mat-flat-button type="submit" (click)="submit()" class="send-btn">Criar Conta</button>
                </div>
            </div>
            
        </div>

    </div>
    <div class="right">
    </div>

</div>