.registro-page{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    width: 100%;
    .right{
        background-image: url('/assets/img/registro-background-image2.jpg');
        background-repeat: no-repeat;
        width: 100%;
        background-position: 70% 100%;
        background-size: 115%;
        
    }
    .left{
        width: 100%;
        background-color: #fff3e6;
        display: flex;
        align-items: center;
        justify-content: center;
        .formContainer{
            display: flex;
            padding: 10px;
            flex-direction: column;
            width: 80%;      
            color: var(--primary-purple);      
            .formCard{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: 30px;
                border-radius: 20px;
                box-shadow: 4px 4px 30px 0 rgba(0,0,0,0.2);
                .formContent{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    .firstRow{
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        .names{
                            margin-right: 15px;
                            color: var(--primary-purple);      
                        }
                    }
                }
                .formTitle{
                    width: 100%;
                }
            }
        }
    }
}