<div class="main-page">
  <div class="header">
    <div class="left">
      <img src="/assets/img/logo-branca.png" class="logo" />
    </div>
    <div class="right">
      <div class="btns">
        <button mat-flat-button class="login" (click)="login()">Entrar</button>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="side-bar">
      <div class="tittle"><h3>Filtros</h3></div>

      <form [formGroup]="form" class="filter">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome do pet" formControlName="nome" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Espécie</mat-label>
          <mat-select formControlName="especie">
            <mat-option *ngFor="let e of especies" [value]="e">
              {{ e }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full" *ngIf="racas.length">
          <mat-label>Raça</mat-label>
          <mat-select formControlName="raca">
            <mat-option *ngFor="let r of racas" [value]="r">
              {{ r }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="age">
        <label>Idade (anos)</label>

        <mat-slider min="0" max="20" step="1">
            <input
            matSliderThumb
            [value]="form.value.idade"
            (valueChange)="form.controls.idade.setValue($event)"
            />
        </mat-slider>

        <div class="idade-valor">{{ form.value.idade }} anos</div>
        </div>


        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tamanho</mat-label>
          <mat-select formControlName="tamanho">
            <mat-option *ngFor="let t of tamanhos" [value]="t">
              {{ t }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nível de energia</mat-label>
          <mat-select formControlName="energia">
            <mat-option *ngFor="let e of energias" [value]="e">
              {{ e }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Temperamento</mat-label>
          <mat-select formControlName="temperamento">
            <mat-option *ngFor="let t of temperamentos" [value]="t">
              {{ t }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Histórico médico</mat-label>
          <mat-select formControlName="historico">
            <mat-option *ngFor="let h of historicoMedico" [value]="h">
              {{ h }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="btn-group">
          <button mat-flat-button color="primary" (click)="filtrar()">
            Aplicar
          </button>
          <button mat-stroked-button color="warn" (click)="limpar()">
            Limpar
          </button>
        </div>
      </form>
    </div>

    <div class="content">
        <div class="cards-container">
            <app-card-animal
            *ngFor="let animal of animais"
            [animal]="animal"
            ></app-card-animal>
        </div>
    </div>
  </div>
</div>
