<div class="container">
    <div class="top">
        
        <div class="left">
            <img src="/assets/img/logo_preta.png" class="logo">
        </div> 
        <div class="right">
            <div class="btns">
                <button mat-flat-button class="login" (click)="login()">Entrar</button>
            </div>
        </div>
    </div>
    <div class="bottom">
        bottom
        <div class="left">
                
        </div>
        <div class="right">

        </div>
    </div>

</div>