<div class="animal-card" (click)="abrirDetalhes()">
  <div class="header-bar"></div>

  <div class="photo-wrapper">
    <img [src]="getPhoto()" [alt]="animal.name" />
    <span class="status-tag" [ngClass]="getStatusClass()">
      {{ statusLabel[animal.status] }}
    </span>
  </div>

  <div class="animal-info">
    <h3>{{ animal.name }}</h3>

    <p class="species">
      {{ formatEnum(animal.species) }} • {{ getBreed() }}
    </p>

    <div class="tags">
      <span class="tag">{{ animal.age }} anos</span>
      <span class="tag">{{ formatEnum(animal.sex) }}</span>
      <span class="tag">{{ formatEnum(animal.size) }}</span>
    </div>
  </div>
</div>
