<div class="container">
    <mat-dialog-actions>
        <div class="top">
            <div class="left">
            </div>
            <div class="center">
                <img src="/assets/img/logo_preta.png" class="logo">
            </div>
            <div class="right">
                <button mat-icon-button class="close-btn">
                    <mat-icon class="icon">close</mat-icon>
                </button>
            </div>
        </div>
    </mat-dialog-actions>
    <mat-dialog-content>
        <div class="bottom">
            <div class="title">
                <h1>Acesse sua conta</h1>
            </div>
                <form [formGroup]="loginForm">
                    <div class="credentials">
                        <span>Email*</span>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Seu email" class="input" formControlName="email">
                        </mat-form-field>
                        <span>Senha*</span>
                        <mat-form-field appearance="outline">
                                <input matInput placeholder="Sua senha" class="input" formControlName="senha">
                        </mat-form-field>
                    </div>
                </form>
            <div class="btn">
                <button mat-flat-button type="submit" class="submit-btn" (click)="submit()">Entrar</button>
            </div>
        </div>
    </mat-dialog-content>
</div>