
<div class="container">
   
    <div class="bottom">
        <div class="card">
            <div class="top">
                <div class="head">
                    <img src="/assets/img/logo_preta.png" class="logo">
                </div>
                 <div class="title">
                    <h1>Acesse sua conta</h1>
                </div>
            </div>
            <div class="bottom">
               
                <div class="credentials">
                    <form [formGroup]="loginForm">
                        <div class="inputs">
                            <span class="hint">Email*</span>
                            <mat-form-field appearance="outline" class="input">
                                <input matInput placeholder="Seu email"  formControlName="email">
                            </mat-form-field>
                            <span class="hint">Senha*</span>
                            <mat-form-field appearance="outline"  class="input">
                                    <input matInput placeholder="Sua senha" formControlName="senha">
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="btn">
                    <button mat-flat-button class="submit-btn" (click)="back()">Voltar</button>
                    <button mat-flat-button type="submit" class="submit-btn" (click)="submit()">Entrar</button>
                </div>
                <div class="registre">
                    <span>Não possui conta? <a href="http://localhost:4200/registro">Registre-se</a></span>
                </div>
            </div>
        </div>
    </div>
</div>