.container{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    .left{
        color: var(--primary-purple);
        background-color: #FFF3E6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        height: 100%;
        .card{
            font-weight: 700;
            border-radius: 20px;
            box-shadow: 4px 4px 30px 0 rgba(0,0,0,0.2);
            width: 50%;
            padding: 10px;
            height: auto;
            
            @media (max-width : 992px) {
                width: 90%;
            }
            .top{
                display: grid;
                width: 100%;
                grid-template-rows: 1fr auto;
                .head{
                    display: flex;
                    width: 100%;
                        justify-content: center;
                        .logo{
                            margin: 10px 0px;          
                            width: 100%;
                            max-width: 180px;
                            height: auto;
                        }
                    
                }
                .title{
                        display: flex;
                        font-size: clamp(15px, 20px, 32px);
                        justify-content: center;
                        color: var(--primary-purple);
                    }
            }
            .bottom{
                width: 100%;
                display: flex;
                flex-direction: column;
               
                .credentials{

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    .inputs{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .input{
                            width: 50%;
                        }
                        .hint{
                            color: var(--primary-purple);
                        }
                    }
                    .senha-invalida{
                        display: flex;
                        justify-content: center;
                        padding: 10px;
                    }
                    
                }
                .btn{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: clamp(5px, 10px, 15px);
                    .submit-btn{
                        width:75%;
                        background-color: var(--primary-purple);
                        color: #FFF3E6;
                        max-width: 150px;
                        font-weight: 700;
                    }
                }
                .registre{
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    color: var(--primary-purple);
                    font-weight: 700;

                }
            }
        }
    }
    .right{
        background-image: url('/assets/img/login-dog-page.jpg');
        background-repeat: no-repeat;
        width: 100%;
        background-position: 70% 40%;
        background-size: 100%;
    }
}