<div class="home-page">

    <div class="first">
        <div class="header">
            <img class="img" src="assets/img/logo.png" alt="asda">
        </div>

        <div class="first-content">
            <div class="content">
                <div class="main-phrase">
                    <h1 class="h1">ENCONTRE SEU MELHOR AMIGO</h1>
                </div>
                <div class="secondary-phrase">
                    <h2 class="h2">Adote animais que são compatíveis com a sua necessidade.</h2>
                </div>
                <div class="ver-animai-btn">
                    <button class="btn-ver-animais">Ver animais</button>
                </div>
            </div>
        </div>
    </div>

    <div class="second">
        <div class="top">
            as
        </div>

        <div class="botttom">
            sad
        </div>
    </div>

    <div class="third">
        third
    </div>

    <div class="footer">
        footer
    </div>
</div>