<div class="home-page">

    <div class="first">
        <div class="header">
            <img class="img" src="assets/img/logo.png" alt="asda">
        </div>

        <div class="first-content">
            <div class="content">
                <div class="main-phrase">
                    <h1 class="h1">Encontre seu melhor amigo</h1>
                </div>
                <div class="secondary-phrase">
                    <h2 class="h2">Adote animais que são compatíveis com a sua necessidade.</h2>
                </div>
                <div class="ver-animai-btn">
                    <button class="btn-ver-animais">Ver animais</button>
                </div>
            </div>
        </div>
    </div>

    <div class="second">
        <div class="top">
            <h1 class="h1">Nossos Valores</h1>
        </div>

        <div class="bottom">
            <div class="compatibilidade">
                <div class="compatibilidade-text">
                    <p class="p">
                        Garantimos um processo de adoção claro e personalizado.
                    </p>
                </div>

                <div class="compatibilidade-tittle">
                    <h2 class="h2">Compatibilidade</h2>
                </div>
            </div>

            <div class="clareza">
                <div class="clareza-text">
                    <p class="p">
                        Disponibilizamos uma aplicação simples, intuitiva e prática.
                    </p>
                </div>

                <div class="clareza-tittle">
                    <h2 class="h2">Clareza</h2>
                </div>
            </div>

            <div class="continuidade">
                <div class="continuidade-text">
                    <p class="p">
                        Oferecemos segurança ao animal e ao adotante.
                    </p>
                </div>

                <div class="continuidade-tittle">
                    <h2 class="h2">Continuidade</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="third">
        
    </div>

    <div class="footer">
        
    </div>
</div>