<div class="animal-modal">
  <div class="modal-content">

    <div class="image-section">
      <img [src]="getPhoto()" [alt]="data.animal.name" />
      <span class="status-tag" [ngClass]="getStatusClass()">
        {{ statusLabel[data.animal.status] }}
      </span>
    </div>

    <div class="details-section">
      <h2>{{ data.animal.name }}</h2>

      <div class="info-grid">
        <div><strong>Espécie:</strong> {{ formatEnum(data.animal.species) }}</div>
        <div><strong>Raça:</strong> {{ formatEnum(getBreed()) }}</div>
        <div><strong>Sexo:</strong> {{ formatEnum(data.animal.sex) }}</div>
        <div><strong>Idade:</strong> {{ data.animal.age }} anos</div>
        <div><strong>Tamanho:</strong> {{ formatEnum(data.animal.size) }}</div>
        <div><strong>Temperamento:</strong> {{ formatEnum(data.animal.temperament) }}</div>
        <div><strong>Energia:</strong> {{ formatEnum(data.animal.energy) }}</div>
        <div><strong>Sociabilidade:</strong> {{ formatEnum(data.animal.sociability) }}</div>
        <div><strong>Saúde:</strong> {{ data.animal.health_details }}</div>
      </div>

      <div class="description">
        <strong>Descrição:</strong>
        <p>{{ data.animal.description }}</p>
      </div>
    </div>
  </div>

  <div class="adopt-section" *ngIf="data.role === 'USER'">
    <button mat-flat-button color="primary" class="adopt-btn" (click)="createAdoption()">
      Adotar {{ data.animal.name }}
    </button>
  </div>

  <div class="adopt-section"
       *ngIf="data.role === 'ONG' && currentUser?.id === data.animal.tutorIds[0] && data.animal.status === 'PENDENTE'">
    <button mat-flat-button color="primary" class="adopt-btn" (click)="confirmarAdocao()">
      Confirmar Adoção de {{ data.animal.name }}
    </button>
  </div>

  <!-- Editor de status manual para tutor (ONG) + botão deletar -->
  <div class="adopt-section edit-status"
       *ngIf="canEditStatus()">
    <div class="status-editor">
      <div class="esquerda">
        <span class="label">Atualizar status:</span>

        <mat-select [(ngModel)]="newStatus">
          @for(s of tutorOptions; track s){
            <mat-option [value]="s">
              {{ statusOptionsTutor[s] }}
            </mat-option>
          }
        </mat-select>

        <button mat-flat-button
                color="var(--primary-purple)"
                (click)="updateStatusManual()"
                [disabled]="newStatus === data.animal.status">
          Salvar
        </button>
      </div>

      <div class="direita">
        <!-- Ícone de lixeira só pro tutor -->
        <button mat-icon-button
                *ngIf="canDelete()"
                class="delete-icon"
                (click)="deleteAnimal()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </div>
  </div>

  <div class="adopt-section nolog" *ngIf="data.role === null">
    <button mat-flat-button class="adopt-btn disabled" (click)="login()">
      Faça login para adotar
    </button>
  </div>
</div>
