@use '@angular/material' as mat;

html, body { 
  height: 100%; 
  width: 100%;
}

body { 
  margin: 0; 
  font-family: 'Instrument Sans', sans-serif; 
}

:root {
  --primary-purple: #963676;
  --secondary-purple: #c25d98;
  --third-purple: #7a2b5f;
  --fourth-purple: #e16fb0;
  --primary-blue: #6EC9E0;
  --primary-yellow: #FCB82E;
  --primary-offwhite: #fff5ea;
  --secondary-offwhite: #FFEBD5;
  @include mat.form-field-overrides((
        outlined-outline-color: var(--primary-purple),
        outlined-outline-width: 2px,
        outlined-focus-outline-color: var(--primary-purple),
        outlined-input-text-placeholder-color: #CC6EA5,
        outlined-input-text-color: black,
  ));
}
