html, body { 
  height: 100%; 
  width: 100%;
}

body { 
  margin: 0; 
  font-family: 'Instrument Sans', sans-serif; 
}

:root {
  --primary-purple: #963676;
  --primary-blue: #6EC9E0;
  --primary-yellow: #FCB82E;
}
